* {
    font-family: 'Roboto Condensed', sans-serif;
}
fieldset{
    width: 500px;
    border: 2px solid #809fc2;
    background-color: bisque
}
input{
    margin-top: 10px;
}
table.tabela{
    border: 2px solid black;
}